@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*:not(img, svg, i) {
  font-family: "Poppins", sans-serif;
}

body,
html {
  overflow: hidden;
}

.page_content {
  overflow-y: auto;
  height: calc(100vh - 5rem);
}

.product_bant_flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 1rem;
}

.product_bant_flex .product_bant_item {
  border: 1px solid grey;
  border-radius: .35rem;
  width: calc((100% / 3) - .67rem);
  height: 25rem;
  position: relative;
}

.new_bant_area {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: #00d90038;
  transition: background-color 250ms;
}

.new_bant_area:hover {
  background-color: #00d90068;
}

.product_bant_item video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.product_bant_item .status {
  background-color: #00d900;
  text-align: center;
  font-weight: 600;
  width: 100%;
  position: relative;
  z-index: 1;
  position: absolute;
  bottom: 0;
  font-size: .95rem;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.station_info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 3rem);

  z-index: 1;
}

.icon {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc107;
  position: absolute;
  z-index: 2;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
}

.info {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  color: white;

  opacity: 0;
  transition: opacity 250ms;
}

.icon:hover+.info {
  opacity: 1;
}

.product_limit_viewer {
  width: 100%;
  height: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.638);
  border-radius: .25rem;
  position: relative;
  margin-top: 1rem;
  overflow: hidden;
}

.product_limit_viewer span {
  display: block;
  height: 100%;
  width: 0;
  background-color: green;
}




header {
  background-color: darkblue;
  width: 100%;
  color: white;
}

.header_flex {
  padding: 0 2rem;
  height: 5rem;
  /* height: 100%; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current_price {
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 1rem;
  border-radius: .35rem;
}

.employee_list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.employee_list li {
  border: 1px solid black;
  /* height: 5rem; */
  border-radius: .45rem;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}

.employee_list img {
  width: 7rem;
  height: 7rem;
  border-radius: .45rem;
}

.employee_content p {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  letter-spacing: 1px;
}

.employee_content span {
  font-size: .75rem;
  font-weight: 400;
}

.employee_infos {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.employee_list li button {
  padding: .5rem 2rem;
}

.employee_list li button p {
  font-size: 1rem;
  margin: 0;
  font-weight: 600;
}

.employee_list li button span {
  font-size: .70rem;
  font-weight: 400;
}


.navigate {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  padding: 1rem;
}

.navigate li {
  border: 1px solid rgba(0, 0, 0, 0.714);

  border-radius: .45rem;
  overflow: hidden;
  text-align: center;

  width: 100%;
}

.navigate a {
  text-decoration: none;
  color: white;
  background-color: darkblue;
  display: flex;
  width: 100%;
  height: 100%;
  padding: .5rem 1rem;

}